.home {
    margin: 0 auto;
    max-width: 100%;
    min-width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    display: flex;
}

.item {
    min-width: 100%;
    min-height: 100%;
    padding: 10px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}